@{
    Layout = "~/Shared/_SiteLayout.cshtml";
    Page.Title = "Phòng nghỉ";
    Page.ActivePage = 2;
}
@section navbar {
    @RenderPage("~/Shared/_NavBar.cshtml")
}

@section header {
    @RenderPage("~/Shared/_Small-Header.cshtml")
}

@section footer {
    @RenderPage("~/Shared/_Footer.cshtml")
}

@section main {
    <main>
    </main>
}
