@using Microsoft.Web.Helpers;

@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Upload";

    var message = "";

    if (IsPost) {
        int numFiles = Request.Files.Count;
        int uploadedCount = 0;

        for (int i = 0; i < numFiles; i++) {
            var uploadFile = Request.Files[i];

            if (uploadFile.ContentLength > 0) {
                var fileName = uploadFile.FileName;
                var path = Server.MapPath("~/App_Data/UploadedFiles/");
                var aaa = Path.GetFileNameWithoutExtension(Server.MapPath(fileName));
                message = aaa;
                var fileSavePath = path + fileName;
                if (!Directory.Exists(path)) {
                    // check and create directory if it is not exists
                    Directory.CreateDirectory(path);
                };
                uploadFile.SaveAs(fileSavePath);
                uploadedCount++;
            };
        }
        //message = "File upload complete. Total files uploaded: " + uploadedCount.ToString();
        //Response.Redirect("~/tests/MediaUpload");
    };
}




@section featured {
    <section class="featured" style="margin: 50px auto;">
        <form id="myForm" method="post" enctype="multipart/form-data" action="">
            <div>
                <h1>File Upload - Multiple-File Example</h1>
                <input type="file" name="fileUpload" accept="image/png, image/jpeg, image/jpg, image/gif, image/svg" />
                <input type="file" name="fileUpload" accept="image/png, image/jpeg, image/jpg, image/gif, image/svg" />
                <a href="#" onclick="return false;"> Add another file</a>                
                <button type="submit">Upload images</button>
                <span>@message</span>
            </div>
        </form>
    </section>
}