@using Microsoft.Web.Helpers;

@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Upload";

    var message = "";
    var log = "!!!!!, ";

    if (IsPost) {
        int numFiles = Request.Files.Count;
        int uploadedCount = 0;

        for (int i = 0; i < numFiles; i++) {
            var fileName = Request.Files[i].FileName;
            WebImage image = WebImage.GetImageFromRequest(fileName);

            log += fileName + ", ";
            if (image != null) {
                var path = Server.MapPath("~/App_Data/UploadedFiles/");
                var fileSavePath = path + fileName;
                if (!Directory.Exists(path)) {
                    // check and create directory if it is not exists
                    Directory.CreateDirectory(path);
                };
                image.Save(fileSavePath);
                uploadedCount++;
            };
        }
        message = "File upload complete. Total files uploaded: " + uploadedCount.ToString();
        //Response.Redirect("~/tests/MediaUpload");
    };
}




@section featured {
    <section class="featured" style="margin: 50px auto;">
        <form id="myForm" method="post">
            <div>
                <h1>File Upload - Multiple-File Example</h1>

                @FileUpload.GetHtml(
                    initialNumberOfFiles: 2,
                    allowMoreFilesToBeAdded: true,
                    includeFormTag: true,
                    addText: "Add another file",
                    uploadText: "Upload")

                <span>@message</span>
                <p>@log</p>
            </div>
        </form>
    </section>
}