/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

 body {
 	background-color: #fff;
 	position: relative;
 }
 .clear {
 	clear: both; 
 };
 nav {
 	.brand-logo {
 		height: 100%;
 		img {
 			height: 100%;
 			padding: 0 10px;
 		}
 	}
 }

 header {
 	&.small-header {
 		display: flex;
 		height: 350px;
 		position: relative;
 		background-color: $primary-color;
 		img {
 			width: 100%;
 			object-fit: cover;
 			opacity: 0.8;
 		}
 		.page-preview {
 			position: absolute;
 			bottom: 0px;
 			left: 0px;
 			width: 70%;
 			background-color: rgba(0,0,0,0.5);
 		}
 	}
 }

#btn-scrolltop {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 999;
	padding: 0 1rem;
	-webkit-transition: .3s;
	transition: .3s;
}
#btn-booking {
	@extend #btn-scrolltop;
	left: 10px;
	right: auto;
	span {
		display: none;
	}
	&:hover {
		span {
			display: inline;
		}
		i {
			display: none;
		}
	}
}

 .slide-item {
 	background-color: #000;
 	img {
 		opacity: 0.6;
 	}
 	.caption {
 		h3 {
 			color: $primary-color-text;
 		}
 		h5 {
 			color: $primary-color-text;
 		}
 	}
 }

 #admin-bar {
 	height: 32px;
 	padding: 5px;
 	background-color: $primary-color;
 	border-bottom: 1px solid $divider-color;
 	& * {
 		color: $primary-color-text;
 	}
 }

 main {
 	background-color: $secondary-color;
 	padding: 0px;
 	section {
 		margin: 20px 0px;
 		padding: 20px;
 		.section-title {
 			.line {
 				height: 2px;
 				background-color: $primary-color-light;
 				width: 25%;
 				margin: 0 auto 20px;
 			}
 			h5 {
 				text-transform: uppercase;
 				span {
 					color: $primary-color-light;
 				}
 			}
 		}
 		.img-col {
 			img {
 				object-fit: cover;
 				align-items: center;
 			}
 		}
 		&#about-us {
 			margin-top: 40px;
 		}
 		&.counter {
 			.timer {
 				border: 1px solid $divider-color;
 				border-radius: 5px;
 				color: $primary-text-color;
 				padding: 10px;
 				text-transform: uppercase;
 				transition: .5s;
 				-webkit-transition: .5s;
 				h2 {
 					color: $primary-color-light;
 				}
 				&:hover {
 					@extend .z-depth-2;
 					border-color: $primary-color-light;
 				}
 			}
 		}
 		&#feedback .carousel {
 			min-height: 230px;
 			.carousel-fixed-item {
 				bottom: 50%;
 				.feedback-nav {
 					-ms-transform: translateY(50%); /* IE 9 */
 					-webkit-transform: translateY(50%); /* Safari */
 					transform: translateY(50%);
 					display: none;
 					padding: 0 10px;
 				}
 			}
 			.carousel-item {
 				padding: 0 5%;
 				p {
 					color: $secondary-text-color;
 				}
 				img {
 					width: 100px;
 					height: 100px;
 					border: 3px solid $primary-color-light;
 					margin: 5px auto;

 				}
 				h6 {
 					text-transform: uppercase;
 					color: $primary-color-light;
 				}
 			} 						
 		}
 		&#showrooms {
 			.room-item { 				
 				transition: .5s;
 				-webkit-transition: .5s;
 				&:hover {
 					border: 1px solid $primary-color-light;
 					@extend .z-depth-2;
 				}
 				text-align: center;
 				border: 1px solid $divider-color;
 				padding: 5%;
 				color: $secondary-text-color;
 				img {

 				}
 				h4 {
 					text-transform: uppercase;
 					color: $primary-color-light;
 					letter-spacing: .5px;
 				}
 				p {

 				}
 				h5 {
 					margin: 10px 0px;
 					span {
 						color: $primary-text-color;						
 					}
 					font-weight: 300;

 				}
 				a.booking {
 					color: $primary-color-text;
 					background-color: $primary-color-light;
 					margin: 15px 0px;
 					&:hover {
 						background-color: $primary-color;
 					}
 				}
 			}
 		}
 		&#map {
 			height: 300px;
 			padding: 0px;
 			border-bottom: 1px solid $divider-color;
 			border-top: 1px solid $divider-color;
 			position: relative;
 			.overlay {
 				position: absolute;
 				top: 0;
 				left: 0;
 				background: transparent;
 				width: 100%;
 				height: 300px;
 				z-index: 2;
 			}
 			iframe {
 				width: 100%;
 				height: 100%;
 			}
 		}
 		&#contact {
 			margin: 0px;
 			border-bottom: 1px solid $divider-color;
 			.contact-meta {
 				h6 {
 					text-transform: uppercase;
 					letter-spacing: .5px;
 					color: $primary-color-light;
 				}
 				address {
 					color: $primary-text-color;
 					font-family: "Dakruco", san-serif;
 					padding-left: 2em;
 					font-style: normal;
 				}
 			}
 		}
 	}
 }

 .post-item {
 	.post-link {
 		img {
 			width: 100%;
 			height: auto;
 			max-height: 150px;
 			object-fit: cover;
 		}
 	}
 	.post-preview {
 		.post-title {
 			margin-top: 0px;
 			a {
 				letter-spacing: .3px;
 				&:hover {
 					color: $primary-color;
 				}
 			}
 		}
 		.post-shorttext {
 			color: $secondary-text-color;
 			text-align: justify;
 		}
 		.post-meta {
 			color: $link-color;
 		}
 	}
 }
 footer {
	
 	.footer-meta {
 		padding: 20px;
 		.footer-meta-review {
 			img {
 				max-width: 100%;
 				margin: 0 auto;
 			}
 		}
 		.footer-meta-links {
 			ul {
 				margin: 0 auto;
 				li {
 					&:hover { 						
	 					a {
	 						opacity: 1;
	 					}
 					}
 					a {
 						color: $primary-color-text;
 						opacity: 0.5;
 					}
 				}
 			}
 		}
 	}
 	.footer-copyright { 
 		border-top: 1px solid $primary-color-light;		
 		.footer-copyright-meta {
 			color: $primary-color-text;
 			width: 100%;
 			ul.social-links {
 				margin: 0px;
 				padding: 0px;
 				li {
 					float: left;
 					padding: 0 10px;
 					position: relative;
					&::after {
						position: absolute;
						top: 10%;
						right: 0;
						display: block;
						content: "";
						width: 1px;
						height: 80%;
						margin: auto 0px;
						background-color: $primary-color-text;
						opacity: 0.5;
					}
 					&:last-child {
 						&::after {
 							content: none;
 						}
 						a {
 							border: none;
 						}
 					}
 					&:hover { 						
	 					a {
	 						opacity: 1;
	 					}
 					}
 					a {
 						color: $primary-color-text;
 						opacity: 0.5;
 					}
 				}
 			}
 		}
 		.contact-meta-social {
 			.fb-page {
 				max-width: 90%;
 			} 			
 		}
 	}
 }