<div id="admin-bar">
    <div class="row">
        <div class="col m6 left-align">
            <a href="~/">
                Dakruco Hotel
            </a>
        </div>
        <div class="col m6 right-align">
            Login | Logout
        </div>
    </div>
</div>