<footer class="page-footer">
    <div class="row footer-meta">
        <div class="col l4 s12 footer-meta-review">
            <img src="~/Images/logo-small.png" />
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l4 s12 contact-meta-social">
            <div class="fb-page"
                 data-href="https://www.facebook.com/Dakruco-Hotels-510573019009672/"
                 data-hide-cover="false"
                 data-show-facepile="true"
                 data-small-header="true"
                 data-show-posts="false">
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="footer-copyright-meta">
            2017 &copy; Dakruco Hotel
            <ul class="social-links right" id="social-media">
                <li><a href="#">Support</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Disclaimer</a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
            </ul>
        </div>
    </div>
</footer>