<header>
    <a id="logo" href="~/">
        <img class="responsive-img" src="~/Images/logo.png" />
    </a>
    <div class="slider">
        <ul class="slides">
            <li class="slide-item">
                <img src="~/Images/Slider/Slider00.jpg" /> <!-- random image -->
                <div class="caption right-align">
                    <h3>This is our big Tagline!</h3>
                    <h5>Here's our small slogan.</h5>
                </div>
            </li>
            <li class="slide-item">
                <img src="~/Images/Slider/Slider01.jpg" /> <!-- random image -->
                <div class="caption right-align">
                    <h3>Left Aligned Caption</h3>
                    <h5>Here's our small slogan.</h5>
                </div>
            </li>
            <li class="slide-item">
                <img src="~/Images/Slider/Slider02.jpg" /> <!-- random image -->
                <div class="caption right-align">
                    <h3>Right Aligned Caption</h3>
                    <h5>Here's our small slogan.</h5>
                </div>
            </li>
            <li class="slide-item">
                <img src="~/Images/Slider/Slider03.jpg" /> <!-- random image -->
                <div class="caption right-align">
                    <h3>This is our big Tagline!</h3>
                    <h5>Here's our small slogan.</h5>
                </div>
            </li>
            <li class="slide-item">
                <img src="~/Images/Slider/Slider04.jpg" /> <!-- random image -->
                <div class="caption right-align">
                    <h3>This is our big Tagline!</h3>
                    <h5>Here's our small slogan.</h5>
                </div>
            </li>
        </ul>
    </div>
</header>